* {
  margin: 0;
}
html {
  background-color: #1c0054;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 8px;
  font-family: Roboto;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: purple;
  color: white;
  height: 100px;
  width: 100px;
}
nav {
  height: 100px;
  width: 100%;
  background-color: green;
}
@media screen and (min-width: 600px) {
  nav {
    height: 120px;
  }
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:nth-child(odd) {
  color: black;
}
